/* CSS Document */
body{
	font-family: 'Josefin Sans', sans-serif;
}
.container-fluid{ background-color:#D32A2D;}

.formularioPodcast{
	padding:30px;
}
audio{ width:150px;}
.audio{ min-height:80px;}

